Socket-Udp/Generic-Udp/xml/viaggi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="viaggi">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="paese" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="capitale" type="xs:string"/>
							<xs:element name="giorni" type="xs:integer"/>
							<xs:element name="costo" type="xs:decimal"/>
							<xs:element name="stagione" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="nome" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
						
				